/* Reset some defaults */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Header style */
header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Main content */
main {
    padding: 20px;
    text-align: center;
}

/* Button style */
button {
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005fa3;
}

/* Footer style */
footer {
    background-color: #eee;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
    color: #666;
}

.info_button {
    background-color: #a3e788;
    color: rgb(23, 1, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1em;
}

.info_button:hover {
}
